<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 완료</title>
    <link rel="stylesheet" href="/static/css/register.css"">
</head>
<body>
    <h1>회원가입 완료</h1>
    <div>
        <img src="/<%= userImg%>" alt="" class="profile">
        <h2><%=userID%>님 환영합니다!</h2>
        <p>비밀번호 : <%= userpwd%></p>
        <p>이름 : <%= username%></p>
        <p>나이 : <%= userage%></p>
    </div>
</body>
</html>